body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 900px;
  margin: 0 auto;
}

/* Header */

header,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

li {
  font-size: 18px;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: black;
}

/* About */

#about {
  padding-top: 2rem;
  /* display: inline; */
}

#about h2 {
  margin-top: 0;
  padding-top: 0;
}

#about-picture,
#about-text {
  display: inline;
}

#about-picture {
  padding-right: 2rem;
  float: left;
}

#about-picture img {
  height: 300px;
  border-radius: 10%;
}

#projects {
  padding-top: 2rem;
  display: block;
}

.project-picture img {
  height: 250px;
}

.project {
  display: block;
  padding-left: 1.5rem;
}

.project h3 {
  width: 300px;
  display: list-item;
  list-style-type: circle;
  font-weight: normal;
}

#gaming-club-content,
#worm-burner-content,
#scavenger-hunt-content {
  display: none;
}

/* Skills section */
#skill-container {
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  grid-gap: 10px;
}

.skill img {
  height: 50px;
}

/* Contact page */
.contact-icon img {
  height: 50px;
  padding-right: 10px;
}

/* Footer */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  z-index: 1;
}

footer p {
  font-size: 12px;
}
