body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 900px;
  margin: 0 auto;
}

/* Header */

header,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

li {
  font-size: 18px;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: black;
}

/* About */

#about {
  padding-top: 1rem;
}

#about h2 {
  margin-top: 0;
  padding-top: 0;
}

#about-picture,
#about-text {
  display: inline;
}

#about-picture {
  padding-right: 2rem;
  float: left;
}

#about-picture img {
  height: 300px;
  border-radius: 10%;
}

#projects {
  padding-top: 2rem;
  display: block;
}

.project-picture img {
  height: 250px;
}

.project {
  display: block;
  padding-left: 1.5rem;
}

.project h3 {
  width: 300px;
  display: list-item;
  list-style-type: circle;
  font-weight: normal;
}

#gaming-club-content,
#worm-burner-content,
#scavenger-hunt-content {
  display: none;
}

/* Skills section */
#skill-container {
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  grid-gap: 10px;
}

.skill img {
  height: 50px;
}

/* Contact page */
.contact-icon img {
  height: 50px;
  padding-right: 10px;
}

/* Footer */
footer {
  margin-top: 1.25rem;
}

footer p {
  width: 300px;
  margin: 0 auto;
  font-size: 12px;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  body {
    width: 600px;
  }

  header {
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
  }

  header h1 {
    grid-area: 1 / 2 / span 1 / span 2;
  }

  header nav {
    grid-area: 2 / 1 / span 1 / span 4;
  }

  nav li {
    width: 112px;
  }
}

@media only screen and (max-width: 700px) {
  body {
    width: 450px;
  }

  #about-picture {
    display: grid;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }

  #skill-container {
    grid-template: 1fr 1fr / repeat(5, 1fr);
    height: 110px;
  }
}
